<html>
	<head><title>Add Assets</title></head>
	<body>
		<h2>List of Assets</h2>
		<table>
			<tr><th>Asset Tag</th><th>Description</th><th>Created By</th></tr>
			{% for i in list: %}
			<tr><th>{{i['tag']}}</th><th>{{i['desc']}}</th><th>{{i['username']}}</td></tr>
			{% endfor %}
		</table>
		<br><br>
		<h2>Add Asset</h2>
		<form action="{{url_for('add_asset')}}" method="POST">
			<p>Facility:<br>
			<select name="code">{{code_options|safe}}</select><br>
			Asset Tag:<br>
			<input type="text" name="tag">
			Desciption:<br>
			<textarea name="desc">Description</textarea><br>
			<input type="submit">
		</form>
	</body>
</html>
