<html>
	<head><title>LOST Create User</title></head>
	<body>
		<h2>Create User</h2>
		<form action="{{url_for('create_user')}}" method='POST'>
			<p>Username:<br>
			<input type="text" name="username"><br>
			Password:<br>
			<input type="password" name="password"><br>
			Role:
			<select name="role">
				<option value=0>--Please select a role--</option>
				<option value=1>Logistics Officer</option>
				<option value=2>Facilities Officer</option>
			</select>
			<input type="submit"><br><br>
			<a href="/login">Login</a>
			</p>
		</form>
	</body>
</html>
