<html>
	<head><title>LOST Dashboard</title></head>
	<body>
		<h2>LOST Dashboard</h2>
		<p>You have successfully logged in<br>Welcome {{username}}
		<br><br>
		<a href="/asset_report">Asset Report</a><br>
		<a href="/transfer_report">Transfer Report</a><br>
		<a href="/add_asset">Add Asset</a><br>
		<a href="/add_facility">Add facility</a><br>
		<a href="dispose_asset">Dispose Asset</a><br>
		{% if is_log_off %}
		<a href='/transfer_req'>Transfer Request</a><br>
		<br>
		<h3>Asset Transits in Need of Processing</h3>
		<table>
			<tr><th>Date</th><th>Request Number</th><th>Asset Tag</th><th>From</th><th>To</th></tr>
			{% for i in to_load %}
			<tr><td>{{i['date']}}</td><td><a href="{{url_for('update_transit')}}?id={{i['id']}}">{{i['id']}}</a></td><td>{{i['asset_tag']}}</td><td>{{i['source']}}</td><td>{{i['dest']}}</td></tr>
			{% endfor %}
		</table>
		{% endif %}
		{% if not is_log_off %}
		<h3>Asset Transits in Need of Approval</h3>
		<table>
			<tr><th>Date</th><th>Request Number</th><th>Asset Tag</th><th>From</th><th>To</th></tr>
			{% for i in to_approve: %}
			<tr><td>{{i['date']}}</td><td><a href="{{url_for('approve_req')}}?id={{i['id']}}">{{i['id']}}</a></td><td>{{i['asset_tag']}}</td><td>{{i['source']}}</td><td>{{i['dest']}}</td></tr>
			{% endfor %}
		</table>
		{% endif %}
		</p>
	</body>
</html>
