<html>
	<head>
		<h1>Report</h1>
	</head>
	<body>
		<form action="{{url_for('facility')}}">
			Facility Name<br>
			<select name="facility">
				<option value="HQ">HQ</option>
				<option value="NC">NC</option>
				<option value="DC">DC</option>
				<option value="SPNV">SPNV</option>
				<option value="GL">GL</option>
				<option value="LANM">LANM</option>
				<option value="S300">S300</option>
				<option value="MB005">MB005</option>
			</select>
			<br>
			Date<br>
			<input type="date" name"report_date"><br>
			<input type="submit" name="submit" value="inv_rep">
		</form>
		<br><hr><br>
		<form action="{{url_for('transit')}}">
			Date<br>
			<input type="date" name="rep_date"><br>
			<input type="submit" name="submit" value="trans_rep">
		</form>
	</body>
</html>
